.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner-container {
    max-width: 800px;
    width: 35%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    margin: 0;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #2ecc71;
}