body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.introduction,
.why-choose-us,
.customer-testimonials {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.why-choose-us ul {
    list-style-type: none;
    padding: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.customer-testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #2ecc71;
}

.testimonial p:last-child {
    font-style: italic;
    margin-top: 10px;
}