<header>
    <h1>Dobrodošli u našu prodavnicu alata i materijala</h1>
    <p>Širok asortiman proizvoda za vaše projekte</p>
</header>

<section class="introduction">
    <p>Dobrodošli na online destinaciju gde se susreću strast prema građenju i vrhunski kvalitet materijala i alata. Naša prodavnica je tu da vam pruži sve što vam je potrebno kako biste pretvorili svoje ideje u stvarnost.</p>
    <p>U srcu naše ponude su visokokvalitetni materijali i alati koji će zadovoljiti čak i najzahtevnije majstore i entuzijaste. Bez obzira da li se bavite građevinskim projektima, održavanjem domaćinstva ili hobijem, mi imamo sve što vam je potrebno za uspeh.</p>
</section>

<section class="why-choose-us">
    <h2>Zašto izabrati nas?</h2>
    <p>Mi nismo samo prodavnica materijala i alata, već smo vaš partner u svakom projektu. Evo nekoliko razloga zašto bismo trebali biti vaš prvi izbor:</p>
    <ul>
        <li><strong>Kvalitet bez kompromisa:</strong> Naša posvećenost pružanju samo najkvalitetnijih proizvoda osigurava da vaši projekti budu izuzetni.</li>
        <li><strong>Raznovrsna ponuda:</strong> Bilo da vam je potrebna oprema za kuću, baštu ili profesionalne građevinske alate, imamo širok asortiman proizvoda.</li>
        <li><strong>Stručni saveti:</strong> Naš iskusni tim stručnjaka je tu da vam pruži savete i preporuke kako biste izabrali najbolje proizvode za vaše potrebe.</li>
        <li><strong>Lako naručivanje:</strong> Naša jednostavna platforma za online naručivanje omogućava vam brzo i sigurno kupovanje.</li>
        <li><strong>Brza dostava:</strong> Vaši proizvodi će biti dostavljeni brzo i sigurno, direktno na vašu adresu.</li>
    </ul>
</section>

<section class="customer-testimonials">
    <h2>Šta kažu naši zadovoljni kupci</h2>
    <div class="testimonial">
        <p>"Naručio sam građevinski materijal za renoviranje kuće i bio sam impresioniran brzom dostavom i kvalitetom proizvoda. Definitivno ću ponovno kupiti!"</p>
        <p>- Marko, Beograd</p>
    </div>

    <div class="testimonial">
        <p>"Alati koje sam kupio ovde su mi olakšali posao. Ovde ćete pronaći sve što vam je potrebno po pristupačnim cenama. Preporučujem!"</p>
        <p>- Jovana, Novi Sad</p>
    </div>
</section>